<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=processjobslog;AccountKey=lYC4ix47HWSTU2L/UlK9SavdwiqgcLEqFmqStik1SQOdiPrvmirrJqcIJi8M5/cV8uTXbhaRAFpelTz1DbD9rA==;" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=processjobslog;AccountKey=lYC4ix47HWSTU2L/UlK9SavdwiqgcLEqFmqStik1SQOdiPrvmirrJqcIJi8M5/cV8uTXbhaRAFpelTz1DbD9rA==;" />

    <!-- LOCAL SQL 
    <add name="ShiftDBConnection" connectionString="Data Source=localhost\SQL2014;Initial Catalog=BGProcess;user=bguser; password=bguser" providerName="System.Data.SqlClient" />
    -->
    <!--AZURE SQL -->
    <add name="ShiftDBConnection" connectionString="Server=tcp:zbp960s90b.database.windows.net,1433;Database=BGProcess;User ID=bguser@zbp960s90b;Password=Test9999;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="TimerInterval" value="5000" />
    <add key="CleanUpTimerInterval" value="10000" />
    
    <!-- Shift running jobs settings -->
    <add key="ServiceName" value="Shift Server" />
    <add key="MaxRunableJobs" value="5" />
    <add key="ShiftPID" value="1" />
    <!-- OPTIONAL Encryption of Parameters in DB, important if passing secret keys or DB info in method parameters
    <add key ="ShiftEncryptionParametersKey" value="ac70a97d4f95729143b66d191b0f19ab4cc19ec83cff62b682a34d7249713768"/>
    -->

    <!-- Shift running jobs and client settings -->
    <!-- Need Azure REDIS URL and key -->
    <add key="RedisConfiguration" value="localhost:6379,password=LZLxuFbuPCdxcizNuuDJ0EdoXit1YHoiln8lsTVzPgGTeNB1DkoETMeCZI3FNjvQ" />

  </appSettings>
</configuration>
