<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RedisConnectionString" value="localhost:6379" />
    <add key="MongoDBConnectionString" value="mongodb://localhost" />
    <add key="MSSqlConnectionString" value="Data Source=localhost\SQL2014;Initial Catalog=ShiftJobsDB;Integrated Security=SSPI;" />

    <add key="DocumentDBUrl" value="https://shiftdb.documents.azure.com:443/" />
    <add key="DocumentDBAuthKey" value="fwkADWkatMitV3jg4kcNCVGdDRK9GRgfBG6jcS374yz2SQt0d9DXML6LI3v42HKiBr4dU4vXgayhPVl4U0PwSw==" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>